{{!-- image_structure_pages_shared_data_per_search_block_template.handlebars in 'protein_page' 

	Image And Structure Pages Shared - Link Info Display in Overlay - Per Search Block
	
--}}

<div >
		
	<table  class="tablesorter  top_data_table_jq  link_info_table_jq " >
		<thead>
		<tr>
			<th data-tooltip="Search Name"
				class=" tool_tip_attached_jq "
				style="text-align:left;width:60%;font-weight:bold;">Search Name</th>
			
			<th  data-tooltip="Number of distinct peptides showing link"
				class="integer-number-column-header tool_tip_attached_jq " style="width:10%;font-weight:bold;">Peptides</th>
				
			<th data-tooltip="Number of found peptides that uniquely map to this protein from the FASTA file"
			 	class="integer-number-column-header tool_tip_attached_jq " style="width:10%;font-weight:bold;">Unique peptides</th>
			 	
			<th data-tooltip="Number of PSMs matched to this peptide (or linked pair)"
				class="integer-number-column-header tool_tip_attached_jq " style="width:10%;font-weight:bold;">Psms</th>


				{{#each peptideAnnotationDisplayNameDescriptionList}}
				 	<th data-tooltip="Best Peptide-level {{this.displayName}} for this peptide (or linked pair)"
				 		class=" tool_tip_attached_jq " 
				 		style="text-align:left;font-weight:bold;"
				 		><span style="white-space: nowrap">Best Peptide</span>
				 		<span style="white-space: nowrap" <%-- TODO Add Description as tool tip, {{this.description}} --%>
				 			>{{this.displayName}}</span></th>
				{{/each}}

				{{#each psmAnnotationDisplayNameDescriptionList}}
				 	<th data-tooltip="Best PSM-level {{this.displayName}} for PSMs matched to peptides that show this link"
				 		class=" tool_tip_attached_jq " 
				 		style="text-align:left;font-weight:bold;"
				 		><span style="white-space: nowrap">Best PSM</span>
				 		<span style="white-space: nowrap" <%-- TODO Add Description as tool tip, {{this.description}} --%>
				 			>{{this.displayName}}</span></th>
				{{/each}}						
		</tr>
		</thead>
		<tbody class=" link_info_table__tbody_jq "></tbody>
	</table>

</div>	 
